<section id="about" class=" flex justify-center items-center flex-col py-15 mt-6">
    <div class="about title">
        <h2 class="text-white text-center font-bold text-4xl mb-4 uppercase">about component</h2>
        <div>
            <app-comman-line></app-comman-line>
        </div>
    </div>
    <div class="grid mb-8 m-5 p-4  rounded-lg shadow-sm  md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800">
        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <p class="text-lg"> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                    including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
            </blockquote> 
        </figure>
        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white md:rounded-se-lg dark:bg-gray-800">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <p class="text-lg"> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                    including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
            </blockquote>   
        </figure>
    
    </div>


</section>




