<section class="footer bg-blue-950 text-white static bottom-0">
<div class="footer-content flex justify-around text-center p-10 flex-wrap">
    <div class="p-4">
        <h3 class="uppercase footer-title">location</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
    </div>
    <div class="p-4">
        <h3 class="uppercase footer-title">around the web</h3>
        <ul class="flex gap-2 justify-center items-center">
            <li class="border border-white hover:bg-white hover:text-black"><a href="https://www.facebook.com/" target="_blank" class="flex items-center justify-center"><i class="fa-brands fa-facebook  rounded-s-full"></i></a></li>
            <li class="border border-white hover:bg-white hover:text-black"><a href="https://x.com/?lang=en" target="_blank" class="flex items-center justify-center"><i class="fa-brands fa-twitter "></i></a></li>
            <li class="border border-white hover:bg-white hover:text-black"><a href="https://www.linkedin.com/" target="_blank" class="flex items-center justify-center"><i class="fa-brands fa-linkedin-in "></i></a></li>
            <li class="border border-white hover:bg-white hover:text-black"><a href="https://www.cbp.gov/travel/trusted-traveler-programs/global-entry" target="_blank" class="flex items-center justify-center"><i class="fa-solid fa-globe"></i></a></li>
        </ul>
    </div>
    <div class="p-4">
        <h3 class="uppercase footer-title">about freelancer</h3>
        <p class="break-words">Freelance is a free to use, licensed
            <br>
            Bootstrap theme created by Route</p>
    </div>
</div>
<div class="copyRight text-center p-3 bg-gray-950">
<p>Copyright © Your Website 2024 <span>Marina Tarek</span></p>
</div>
</section>
