<section class="home-section flex justify-center items-center">
    <div class="flex justify-center items-center text-white flex-wrap flex-col">
        <div class="img-section w-1/2 mt-12 mb-4">
            <img src="./assets/image/avataaars.svg" alt="welcome image" class="w-full">
        </div>
        <div class="home-content">
            <h2 class="text-4xl font-bold uppercase mb-4">start Framework</h2>
            <app-comman-line></app-comman-line>
            <div class="text-center">Graphic Artist - Web Designer - Illustrator</div>
        </div>
    </div>   
</section>
